<md-content layout-padding>
  <form name="createPoolForm">
    <md-input-container class="md-block">
      <label>Color y marca del vehículo</label>
      <input md-maxlength="30" required md-no-asterisk name="car_identification" ng-model="vm.car_identification" type="text">
      <div ng-messages="createPoolForm.car_identification.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>¿Cuándo?</label>
      <input type="datetime-local" name="date_time" ng-model="vm.date_time" min="{{vm.minDate | date:'yyyy-MM-ddTHH:mm:ss'}}" max="{{vm.maxDate | date:'yyyy-MM-ddTHH:mm:ss'}}" required />
      <div ng-messages="createPoolForm.date_time.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <md-switch md-invert class="md-primary" md-no-ink aria-label="Horario flexible" ng-model="vm.flexible_time" ng-true-value="true" ng-false-value="false">
        ¿Es un horario flexible? (+/- 15')
      </md-switch>
    </md-input-container>
    <md-input-container class="md-block">
      <md-switch md-invert class="md-primary" md-no-ink aria-label="Salis de Abril" ng-model="vm.from_to" ng-true-value="'FROM'" ng-false-value="'TO'">
        ¿Salís desde Abril?
      </md-switch>
    </md-input-container>
    <md-input-container class="md-block">
      <label>{{vm.descriptionLabel}}</label>
      <input md-maxlength="50" required md-no-asterisk name="description" ng-model="vm.description" type="text">
      <div ng-messages="createPoolForm.description.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>¿Lugares disponibles?</label>
      <input required md-no-asterisk name="total_seats" ng-model="vm.total_seats" type="number" ng-min="0" ng-max="20">
      <div ng-messages="createPoolForm.total_seats.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
    <div layout="row" layout-sm="column" layout-align="center">
      <md-button flex="100" class="md-raised md-primary" ng-click="vm.save()" ng-disabled="createPoolForm.$invalid">Guardar</md-button>
    </div>
    <div layout="row" layout-sm="column" layout-align="center">
      <md-button flex="100" ng-show="!vm.newEntry" class="md-raised md-warn" ng-click="vm.delete()">Eliminar</md-button>
    </div>
  </form>
 </md-content>