<div layout="column" layout-padding>
  <p>
    <b>¿Qué es el carpool?</b>
  </p>
  <p>
    El carpool es una práctica que consiste en compartir un viaje en auto con otras personas que se dirijan al mismo lugar. Es una manera efectiva tanto de reducir gastos como de reducir la congestión de tránsito y de cuidar al medio ambiente!
  </p>
  <p>
    Pirpul hace que esto sea posible de una manera muy facil. Si sos conductor, tenés que publicar tu viaje con el trayecto, fecha, hora y asientos disponibles. Éste aparecerá en la pantalla principal con los distintos viajes que otros conductores hayan publicado. Si sos pasajero, tenés que buscar un recorrido que te convenga y sumarte.
  </p>
  <p>
    Pirpul es una aplicación para uso exclusivo de vecinos que vivan en el Club de Campo Abril. Los datos se compartirán solo dentro de la aplicación.
  </p>
  <md-divider></md-divider>
  <p>
    ¿Esta aplicación te ayudó?<br/>
    ¿Tenés recomendaciones para hacernos?<br/>
    ¿Conocés a alguien que le pueda interesar?<br/><br/>

    Nos encantaría escuchar tu opinión para que podamos mejorar!
  </p>
  <p>
    Mandanos un mail <a href="mailto:admin@pripul.com" target="_black">admin@pripul.com</a>.
  </p>
</div>