.car-pool-list {
  .reference {
    color: blue;
    right: 0;
    position: absolute;
    top: 0;
  }
  md-list-item {
    padding-right: 0;

    &.out-coming {
      background: lightcyan;
    }

    button {
      &.md-primary {
        &.edit {
          background:green;
        }
      }
    }
    md-icon {
      font-size: 1.5rem;
      md-icon {
        &.fa-arrow-right {
          color: red;
        }
        &.fa-arrow-left {
          color: green;
        }
      }
    }
  }
}
.reference-dialog {
  ul {
    padding-left: 0;

    li {
      padding-left: 0;
      list-style: none;
    }
  }
}