.car-pool-list {
  md-list-item {
    padding-right: 0;

    &.out-coming {
      background: lightcyan;
    }

    button {
      &.md-primary {
        &.edit {
          background:green;
        }
      }
    }
    md-icon {
      font-size: 1.5rem;
      md-icon {
        &.fa-arrow-right {
          color: red;
        }
        &.fa-arrow-left {
          color: green;
        }
      }
    }
  }
}