<md-content layout-padding>
  <form name="userDetailForm">
    <md-input-container class="md-block">
      <label>Nombre y Apellido</label>
      <input md-maxlength="30" required md-no-asterisk name="nickname" ng-model="vm.username">
      <div ng-messages="userDetailForm.nickname.$error">
        <div ng-message="required">Este campo es requerido.</div>
        <div ng-message="md-maxlength">El texto es muy largo. Respetá el largo máximo</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Barrio y lote</label>
      <input md-maxlength="30" required md-no-asterisk name="neighborhood" ng-model="vm.neighborhood">
      <div ng-messages="userDetailForm.neighborhood.$error">
        <div ng-message="required">Este campo es requerido.</div>
        <div ng-message="md-maxlength">El texto es muy largo. Respetá el largo máximo</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Teléfono</label>
      <input md-maxlength="30" required md-no-asterisk name="phone" ng-model="vm.phone">
      <div ng-messages="userDetailForm.phone.$error">
        <div ng-message="required">Este campo es requerido.</div>
        <div ng-message="md-maxlength">El texto es muy largo. Respetá el largo máximo</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Mail</label>
      <input md-maxlength="40" required md-no-asterisk name="mail" ng-model="vm.mail" type="email">
      <div ng-messages="userDetailForm.mail.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
    <div layout="row" layout-sm="column" layout-align="center">
      <md-button flex="100" class="md-raised md-primary" ng-click="vm.actionButton()" ng-disabled="userDetailForm.$invalid">{{::vm.buttonLabel}}</md-button>
    </div>
    <div layout="row" layout-sm="column" layout-align="center" ng-show="vm.showCancelButton">
      <md-button flex="100" class="md-raised md-warn" ng-click="vm.cancel()">Cancel</md-button>
    </div>
  </form>
 </md-content>