.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  bottom: 0;
}
md-sidenav {
  .current {
    background: lavender;
  }
}
md-content.loading {
  filter: blur(5px);
  pointer-events: none;
}